<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app.js" defer></script>
    <link rel="stylesheet" type="text/css" href="style.css"/>
  </head>
  <body>
    <header>
      <h1>Monster Slayer</h1>
    </header>
    <div id="game">
      <section id="monster" class="container">
        <h2>Monster Health</h2>
        <div class="healthbar">
          <!😑
            Binding data và các method vào html 
            và dùng v-bind cho style và v-on cho event handle
            v-bind dùng cho các attribute mà muốn dùng dữ liệu động
          ->
          <div class="healthbar__value" :style="monsterBarStyle"></div>
        </div>
      </section>
      <section id="player" class="container">
        <h2>Your Health</h2>
        <div class="healthbar">
          <div class="healthbar__value" :style="playerBarStyle"></div>
        </div>
      </section>
      <!😑
      Sử dụng v-if v-else để handle render có điều kiện
      // nếu winner = null sẽ không render section bên dưới
    ->
      <section class="container" v-if="winner">
          <h2>Game Over!</h2>
          <h3 v-if="winner === 'Monster'">You lost!</h3>
          <h3 v-else-if="winner === 'Player'">You won!</h3>
          <h3 v-else>It a draw!</h3>
          <button @click="startGame">Start New Game! </button>
      </section>
      <section id="controls" v-else>
        <button @click="attackMonster">ATTACK</button>
        <button :disabled="mayUseSpecialAttack" :disabled="mayUse"@click="specialAttackMonster">SPECIAL ATTACK</button>
        <button @click="healPlayer">HEAL</button>
        <button @click="surrender">SURRENDER</button>
      </section>
      <section id="log" class="container">
        <h2>Battle Log</h2>
        <ul>
          <li v-for="logMessage in logMessages">
            <span 
              :class="{'log--player':logMessage.attacked === 'player','log--monster':logMessage.attacked === 'monster'}"
            >{{logMessage.attacked === 'player' ? 'Player' : 'Monster'}}</span>
            <span v-if="logMessage.action === 'health'">Health For <span class="log--heal">{{logMessage.value}}</span></span>
            <span v-else-if="logMessage.action === 'special attack'">Using Special Attack Deal For <span class="log--damage">{{logMessage.value}}</span></span>
            <span v-else>Using Attack Deal For <span class="log--damage">{{logMessage.value}}</span></span>

          </li>
          
        </ul>
      </section>
    </div>
  </body>
</html>
